{% extends 'punto_de_venta/base.html' %}

{% block content_js %}
<script type="text/javascript">
    $(function(){
        $("input").addClass('form-control');
    });  
</script>
{%endblock%}

{% block content %}
	
	{%if tipo == 'marca' %}
    <h1>Marca</h1>
    {%endif%}

    {%if tipo == 'medida'%}
    <h1>Medida</h1>
    {%endif%}
    
    {%if tipo == 'departamento'%}
    <h1>Departamento</h1>
    {%endif%}
    
    <form method="POST" id="formulario">{% csrf_token %}
        {%for field in form%}
        <div class="{{field.name}}">
            <label for="{{field.name}}">{{field.name}}</label>
            {{field}}
        </div>
        {%endfor%}
        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>

{% endblock %}