{% load static %}
<html>
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
		<title>Punto de venta</title>
		<style type="text/css"></style>
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="{% static 'plugins/datepicker/css/datepicker.css' %}" rel="stylesheet">
        <script src="{% static 'plugins/datepicker/js/bootstrap-datepicker.js' %}"></script>
        {% block content_js %}
        {% endblock %}
	</head>
<body>
	
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'marcas' %}" class="top-menu"><span class='glyphicon glyphicon-plus'>Nueva marca</button></a>
        {% endif %}
        <h1><a href="/punto">PUNTO DE VENTA</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            <div><a href="/punto/clientes"> clientes </a></div>
            <div><a href="/punto/marcas"> Marcas </a></div>
            <div><a href="/punto/"> punto de venta </a></div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
