{% load static %}

<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <style type="text/css"></style>
    {% block content_js %}
    {% endblock %}
    <title>Punto de venta</title>
  </head>
  
  <body>
{%if user.is_authenticated%}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/punto">Inicio</a>
          <a class="navbar-brand" href="{%url 'catalogo' tipo='producto'%}">Productos</a>
          <a class="navbar-brand" href="{%url 'catalogo' tipo='cliente'%}">Clientes</a>
          <a class="navbar-brand" href="{%url 'catalogo' tipo='proveedor'%}">Proveedores</a>
          <a class="navbar-brand" href="{%url 'catalogo' tipo='marca'%}">Marcas</a>
          <a class="navbar-brand" href="{%url 'catalogo' tipo='departamento'%}">Departamentos</a>
          <a class="navbar-brand" href="{%url 'catalogo' tipo='medida'%}">Unidades de medida</a>
          <a class="navbar-brand" href="{%url 'reportes'%}">Reportes</a>
		  <a class="navbar-brand" href="{% url 'makelogout' %}">Logout</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  {% block content %}
  {% endblock %}
{%else%}
<p><h1>No iniciaste sesión!!</h1></p>
<a href="{%url 'login'%}">Login</a>
{%endif%}
  </body>
</html>
