{%block content%}
    {% if user.is_authenticated %}
        <a href="{% url 'agregarproducto' %}" class="top-menu"><span class='glyphicon glyphicon-plus'>Nuevo Producto</span></a>
    {% endif %}
    <br>
	<table border=1>
		<tr>
			<th>Nombre</th>
			<th>marca</th>
			<th>Precio</th>
			<th>Existencia</th>
			<th>Proveedores</th>
			<th>Medida</th>
			<th>Departamento</th>
			<th>Acción</th>
		</tr>
		{%for producto in lista%}
		<tr>
			<td>{{producto.nombre}}</td>
			<td>{{producto.marca}}</td>
			<td>{{producto.precio}}</td>
			<td>{{producto.existencia}}</td>
			<td>{{producto.proveedores.all}}</td>
			<td>{{producto.medida}}</td>
			<td>{{producto.dpto}}</td>
			<td><a href="{%url 'editar' tipo=tipo pk=producto.pk%}">Editar  </a><a href="{%url 'eliminar' tipo=tipo pk=producto.pk%}">Eliminar</a></td>
		</tr>
		{%endfor%}
	</table>
{%endblock%}