{% extends 'punto_de_venta/base.html' %}

{%block content_js%}
<script type="text/javascript">
    $(function(){
        $("input").addClass('form-control');
        $('#id_rfc').change(function(){
          console.log($('#id_rfc').val().length);
          if ($('#id_rfc').val().length == 12){
            $('#id_giro').required=true;
          }
          else if($('#id_rfc').val().length == 13){
            $('#id_giro').removeAttr('required');
          }
        });

    });  
</script>

{%endblock%}

{% block content %}
  {%if tipo == 'cliente' %}
    <h1>Cliente </h1>
  {%endif%}
  {%if tipo == 'proveedor' %}
    <h1>Proveedor</h1>
  {%endif%}

  <div class="container">
  <form method="POST" class="form-group" id='personForm' data-cities-url="{%url 'ajax_cargarmunicipios'%}"> {% csrf_token %}
    <div class="row">
      <h3>Datos</h3>
      {%for field in humano%}
        <div class="col-sm-4">
          <label>{{field.name}}</label>
          {{field}}
          {{field.errors}}
        </div>
      {%endfor%}
    </div>
    <div class="row">
      <div class="col-sm-6">
      <h3>Contacto</h3>
      {%for field in contacto%}
          <div class="col-ms-3">
            <label>{{field.name}}</label>
            {{field}}
          </div>
        {%endfor%}
      </div>
      <div class="col-sm-6">
        <div class="row">
          <h3>Ubicación</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            Calle<br>
            {{ubicacion.calle}}
          </div>
          <div class="col-sm-3">
            No. ext
            {{ubicacion.no_ext}}
            {{ubicacion.no_ext.errors}}
          </div>
          <div class="col-sm-3">
            No. int
            {{ubicacion.no_int}}
            {{ubicacion.no_int.errors}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            Colonia<br>
            {{ubicacion.colonia}}
          </div>
          <div class="col-sm-6">
            <div class="row">
              <br>
              Estado 
             {{ubicacion.estado}}
            </div>
            <div class="row">
              <br>
              Municipio 
              {{ubicacion.municipio}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            Código postal<br>
            {{ubicacion.codigo_postal}}
            {{ubicacion.codigo_postal.errors}}
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="save btn btn-default">Añadir</button>
  </form>
  <script>
    $(function(){
        $("#id_estado").change(function () {
          var url = $("#personForm").attr("data-cities-url"); 
          var countryId = $(this).val();  
          $.ajax({                      
            url: '/punto/ajax/cargarmunicipios/',          
            data: {
              'estado': countryId 
            },
            dataType: 'html',
            success: function (data) {   
              $("#id_municipio").html(data);  
            }
          });
        });
    })
  </script>
{% endblock %}