{% extends 'punto_de_venta/base.html' %}

{%block content_js%}
<script type="text/javascript">
    $(function(){
        $("input").addClass('form-control');
    });  
</script>

{%endblock%}

{% block content %}
  {%if tipo == 'cliente' %}
    <h1>Cliente </h1>
  {%endif%}
  {%if tipo == 'proveedor' %}
    <h1>Proveedor</h1>
  {%endif%}

  <div class="container">
  <form method="POST" class="form-group" id='personForm' data-cities-url="{%url 'ajax_cargarmunicipios'%}"> {% csrf_token %}
    <div class="row">
      <h3>Datos</h3>
      {%for field in humano%}
        <div class="col-sm-4">
          <label>{{field.name}}</label>
          {{field}}
        </div>
      {%endfor%}
    </div>
    <div class="row">
      <div class="col-sm-6">
      <h3>Contacto</h3>
      {%for field in contacto%}
          <div class="col-ms-3">
            <label>{{field.name}}</label>
            {{field}}
          </div>
        {%endfor%}
      </div>
      <div class="col-sm-6">
        <h3>Ubicación</h3>
        {%for field in ubicacion%}
        <div class="col-sm-3">
          <label>{{field.name}}</label>
          {{field}}
        </div>
        {%endfor%}
      </div>
    </div>
    <button type="submit" class="save btn btn-default">Añadir</button>
  </form>
  <script>
    $(function(){
        $("#id_estado").change(function () {
          var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
          var countryId = $(this).val();  // get the selected country ID from the HTML input
          $.ajax({                       // initialize an AJAX request
            url: '/punto/ajax/cargarmunicipios/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'estado': countryId       // add the country id to the GET parameters
            },
            dataType: 'html',
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_municipio").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
        });
    })
  </script>
{% endblock %}