{% extends 'punto_de_venta/base.html' %}

{%block content_js%}
<script>
  $( function() {
    var availableTags = [
    	{%for p in productos%}
    		"{{p}} MARCA {{p.marca}}",
    	{%endfor%}

    ];
    $( "#tagsp" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  <script>
  $( function() {
    var availableTags = [
      {%for c in clientes%}
        "{{c}}",
      {%endfor%}

    ];
    $( "#tagsc" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
{%endblock%}

{%block content%}
  <h1><a href="/punto">PUNTO DE VENTA</a></h1>
  <body>
<div class="ui-widget">
  <label for="tagsp">Productos: </label>
  <input id="tagsp">
  <form method="POST" class="post-form">{% csrf_token %}
    <button type="submit" class="save btn btn-default">agregar</button>
  </form>
</div>

<div class="ui-widget">
  <label for="tagsc">Clientes: </label>
  <input id="tagsc">
  <form method="POST" class="post-form">{% csrf_token %}
    <button type="submit" class="save btn btn-default">Ir</button>
  </form>
</div>
 
 
</body>
{%endblock%}
