{% extends 'punto_de_venta/base.html' %}

{%block content_js%}
  <script>
  $( function() {
    var availableTags = [
      {%for c in clientes%}
        "{{c}}",
      {%endfor%}
      ];
    $( "#tagsc" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
{%endblock%}

{%block content%}
<body>
  <h1><a href="/punto">PUNTO DE VENTA</a></h1>
  <div class="ui-widget">
    <form method="POST" class="post-form">{% csrf_token %}
      <label for="tagsc">Clientes: </label>
      <input id="tagsc" name='tagsc'>
      <button type="submit" class="save btn btn-default">Ir</button>
    </form>
  </div>
</body>
{%endblock%}
