{% extends 'punto_de_venta/base.html' %}

{%block content_js%}
<script>
clientestags= [
  {%for cliente in clientes%}
    {label: "{{cliente}}", value: "{{cliente.pk}}" }, 
  {%endfor%}
  ];
productostags= [
  {%for producto in productos%}
    {label:"{{producto}}", value: "{{producto.pk}}" },
  {%endfor%}
  ];
codigobarrastags= [
  {%for producto in productos%}
    {label: "{{producto.codigo_barras}}", value: "{{producto.pk}}" },
  {%endfor%}
  ];

carrito={};
filastabla={};
camposdatos=['barcode','producto','precio','iva','cantidad','descuento','costo'];
sumasubtotal=0;
sumaivatotal=0;
sumatotal=0;
sumadescuento=0;

function getdatoscliente(iddiv){
  $.ajax({
    url: "/punto/ajax/getdatoscliente/"+$('#clientepk').val(),
    dataType: 'html',
    success: function(data){
      $(iddiv).html(data);
    }
  });
}

function getdatosproducto(iddiv){
  $.ajax({
    url: "/punto/ajax/getdatosproducto/"+$('#productopk').val(),
    dataType: 'html',
    success: function(data){
      $(iddiv).html(data);
      makeautocomplete('#barcode','codigobarras','#productopk',codigobarrastags,'#datos_producto',1);
      makeautocomplete('#producto','producto','#productopk',productostags,'#datos_producto',1);
      makeactions();
      calcularcosto();
    }
  });
}

function makeautocomplete(idinput,tipo,idinputpk,fuente,iddiv,tipo){
  $(idinput).autocomplete({
    source:fuente,
    focus: function(event,ui){
      $(idinput).val(ui.item.label);
      return false;
    },
    select: function(event,ui){
      event.preventDefault();
      $(idinput).val(ui.item.label);
      $(idinputpk).val(ui.item.value);
      if(tipo==0)
        getdatoscliente('#datos_cliente');
      else
        getdatosproducto('#datos_producto');


    }
  });
}

function calcularcosto(){
  var ttl=$('#precio').val()*$('#cantidad').val();
  var tax=$('#iva').val() / 100 +1;
  var desc= 1 - $('#descuento').val() /100;
  $('#costo_articulo').val(ttl*tax*desc);
  $('#sumaiva').val(ttl*$('#iva').val()/100);
  $('#desctotal').val(ttl*$('#descuento').val()/100);
  $('#subcosto').val(ttl);
}

function makeclickdelete(clave){
  var idbtn="#btn_"+clave;
  var id="#"+clave;
  $(idbtn).click(function(){
    $(id).remove();
    delete carrito[clave];
    calculartotales();
  });
}

function resetproducto(){
  $('#producto').val('');
  $('#productopk').val('');
  $('#barcode').val('');
  $('#precio').val('');
  $('#iva').val('');
  $('#cantidad').val('');
  $('#descuento').val('');
  $('#costo_articulo').val('');
  $('#sumaiva').val('');
  $('#desctotal').val('');
  $('#subcosto').val('');
}


function agnadiratabla(datos){
  fila="<tr id='"+datos['clave']+"'><td><button type='buton' class='btn btn-danger' id='btn_"+datos['clave']+"'>Quitar</button></td>";
  for(c in camposdatos){
    var llave=camposdatos[c];
    if(llave=='producto'){
      fila=fila+"<td>"+$('#producto').val()+"</td>";
    }
    else{
    fila=fila+"<td>"+datos[llave]+"</td>";
    }
  }
  fila=fila+"</tr>";
  idfila="#"+datos['clave'];
  $(idfila).remove();
  $('#table_body').append(fila);
  makeclickdelete(datos['clave']);
  resetproducto();
}

function makeactions(){
  $('#sumar').click(function(){
    $('#cantidad').val(parseInt($('#cantidad').val())+1);
    calcularcosto();
  });
  $('#restar').click(function(){
    if($('#cantidad').val() > 1){
      $('#cantidad').val(parseInt($('#cantidad').val())-1);
      calcularcosto();
    }
  });
  $('#cantidad').change(function(){
    if (parseFloat($('#cantidad').val()) <= 0){
      alert("la cantidad debe ser positiva");
    }
    else{
      calcularcosto();
    }
  });
  $('#descuento').change(function(){
    if (parseFloat($('#descuento').val()) < 0 || parseFloat($('#descuento').val())>100){
      alert("el descuento debe ser entre 0 y 100");
    }
    else{
      calcularcosto();
    }
  });
  $('#agnadir').click(function(){
    calcularcosto();
    if ($('#cliente').val() != '' && $('#producto').val()!='' && (parseFloat($('#cantidad').val()) > 0) && (parseFloat($('#descuento').val()) >= 0 && parseFloat($('#descuento').val())<=100)){
      var compra=$('#clientepk').val()+"_"+$('#productopk').val();
      $('#cliente').change(function(){
        alert("Cambiaste el cliente, se recargara la pagina");
        document.location.reload(true);
      });
      var datos={
        'clave': compra,
        'producto': $('#productopk').val(),
        'barcode': $('#barcode').val(),
        'precio': $('#precio').val(),
        'iva': $('#sumaiva').val(),
        'cantidad': $('#cantidad').val(),
        'porcentaje_descuento': $('#descuento').val(),
        'costo': $('#costo_articulo').val(),
        'sumaiva':$('#sumaiva').val(),
        'descuento':$('#desctotal').val(),
        'subcosto':$('#subcosto').val(),
      };
      carrito[compra]=datos;
      agnadiratabla(datos);
      calculartotales();
    }
    else if ($('#cliente').val()==''){
      alert("No hay cliente seleccionado");
    }
    else if ((parseFloat($('#descuento').val()) < 0 || parseFloat($('#descuento').val())>100)){
      alert("Descuento inválido");
    }
    else if (parseFloat($('#cantidad').val()) <= 0){
      alert("cantidad inválida");
    }
    else if ($('#producto').val()==''){
      alert("no hay producto");
    }
  });
}

function calculartotales(){
  var sub=0;
  var ivattl=0;
  var descnt=0;
  var ttl=0;
  for (compra in carrito){
    sub=sub+parseFloat(carrito[compra]['subcosto']);
    ivattl=ivattl+parseFloat(carrito[compra]['sumaiva']);
    descnt=descnt+parseFloat(carrito[compra]['descuento']);
    ttl=ttl+parseFloat(carrito[compra]['costo']);
  }
  $('#subtotal').val(sub);
  $('#ivatotal').val(ivattl);
  $('#descuentototal').val(descnt);
  $('#total').val(ttl);
}

function makecompra(){
  if($('#monto_dialog').val() != '' && parseFloat($('#monto_dialog').val()) >= parseFloat($('#total_dialog').val())){
    $.ajax({
      url: "/punto/hacercompra/",
      dataType:'html',
      method: 'POST',
      data:{
        'cliente': $('#clientepk').val(),
        'total': parseFloat($('#id_rfc').val()).toFixed(2),
        'forma_pago': $('#forma_dialog').val(),
        'monto': parseFloat($('#monto_dialog').val()).toFixed(2),
        'cambio': parseFloat($('#cambio_dialog').val()).toFixed(2),
        'vendedor': "{{user.pk}}",
        'iva_total': parseFloat($('#ivatotal').val()).toFixed(2),
        'subtotal': parseFloat($('#subtotal').val()).toFixed(2),
        'total': parseFloat($('#total').val()).toFixed(2),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'detalles': JSON.stringify(carrito)
      },
      success: function(data){
        alert("Comprando");
        $("html").html(data);
      }
    });
  }
  else{
    alert("monto inválido");
  }
}

$(document).ready(function(){
  var dialog, form;
  makeautocomplete('#cliente','cliente','#clientepk',clientestags,'#datos_cliente',0);
  makeautocomplete('#producto','producto','#productopk',productostags,'#datos_producto',1);
  makeautocomplete('#barcode','codigobarras','#productopk',codigobarrastags,'#datos_producto',1);
  $('#dialogomodal').on('show.bs.modal', function(event){
    console.log("---------monto--------");
    console.log($('#monto_dialog').val());
    var button = $(event.relatedTarget)
    $('#total_dialog').val($('#total').val());

    $('#forma_dialog').change(function(){
      if($('#forma_dialog').val() == "r"){
        $('#monto_dialog').val($('#total_dialog').val());
        $('#cambio_dialog').val(0);
      }
    });
    $('#buy').click(makecompra);
    $('#monto_dialog').change(function(){
      if(parseFloat($('#monto_dialog').val()) >= parseFloat($('#total_dialog').val())){
        $('#cambio_dialog').val($('#monto_dialog').val() - $('#total_dialog').val());
      }
      else if($('#monto_dialog').val() != ''){
        alert("monto inválido");
      }
    });
  });
});

</script>
{%endblock%}

{%block content%}
<body>
<div class="container">

  <div class="row"><!--cliente-->
    <div class="col-sm-2">
      <big><big><b>Cliente</b></big></big>
    </div>
    <div class="col-sm-6">
      <input id="cliente" name="Cliente" class="form-control">
      <input id="clientepk" type="hidden" name="clientepk">
    </div>
  </div>
  <br>
  <div id="datos_cliente">
    <table class="table" border=1>
     <thead>
       <tr>
         <th scope="col">Nombre</th>
         <th scope="col">RFC</th>
         <th scope="col">Dirección</th>
         <th scope="col">Teléfono</th>
       </tr>
     </thead>
     <tbody>
       <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <div class="row" id='datos_producto'>
    <div class="col-sm-2">
      <label>Producto</label>
      <input id="producto" name="Producto" class="form-control">
      <input id="productopk" type="hidden" name="productopk">
    </div>
    <div class="col-sm-2" id="">
      <label>Codigo de barras</label>
      <input id="barcode" class="form-control">
    </div>
    <div class="col-sm-1" id="">
      <label>Precio</label>
      <input id="precio" class="form-control" readonly>
    </div>
    <div class="col-sm-1" id="">
      <label>IVA%</label>
      <input id="iva" class="form-control" readonly>
      <input id="sumaiva" type="hidden" name="sumaiva">
    </div>
    <div class="col-sm-1" id="">
      <label>Cantidad</label>
      <input id="cantidad" class="form-control">
      <input id="medida" type="hidden" name="medida">
    </div>
    <div class="col-sm-1" id="">
      <label>Descnt%</label>
      <input id="descuento" class="form-control">
      <input id="desctotal" type="hidden" name="desctotal">
    </div>
    <div class="col-sm-1">
      <label>Costo</label>
      <input id="costo_articulo" class="form-control" readonly>
      <input id="subcosto" type="hidden" name="subcosto">
    </div>
    <div class="col-sm-1" id="">
      <br>
      <button type="button" id="sumar">
        <span class='glyphicon glyphicon-plus'></span>
      </button>
      <button type="button" id="restar">
        <span class='glyphicon glyphicon-minus'></span>
      </button>
    </div>
    <div class="col-sm-1">
      <br>
      <button type="button" id="agnadir" class="btn btn-primary">Añadir</button>
    </div>
  </div><!--FIN PRoducto-->

  <br>
  <div class="row" id="detalleventa">
    <table class="table">
      <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Código barras</th>
         <th scope="col">Producto</th>
         <th scope="col">Precio</th>
         <th scope="col">IVA</th>
         <th scope="col">Cantidad</th>
         <th scope="col">Descuento</th>
         <th scope="col">Importe</th>
       </tr>
      </thead>
      <tbody id="table_body">
      </tbody>
    </table>
  </div>

  <!--DIVISIÓN PARA CAPTURAR VENTA-->
  <div id="venta">
  </div>
 
  <div class="row">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-1">
        <div class="modal fade" id="dialogomodal" tabindex="-1" role="dialog" aria-labelledby="modallabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modallabel">Resumen de compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    {%csrf_token%}
                    <label>Total a pagar</label>
                    <input id="total_dialog" name="total" class="form-control" readonly>
                    <label>Forma de pago</label>
                    <select id="forma_dialog" name="forma_pago" class="form-control">
                      <option value='e'>Efectivo</option>
                      <option value='r'>Credito</option>
                      <option value='c'>Cupon</option>
                    </select>
                    <label>Monto</label>
                    <input id="monto_dialog" name="monto" class="form-control">
                    <label>Cambio</label>
                    <input id="cambio_dialog" name="cambio" class="form-control" readonly>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="buy" type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 float-right">
      <div class="row">
      <table class="table" border=1>
        <thead>
          <tr>
            <th scope="col"><small>subtotal</small></th>
            <td><small><input id="subtotal" class="form-control" readonly></small></td>
          </tr>
        </thead>
        <tr>
          <th scope="col"><small>Iva</small></th>
          <td><small><input id="ivatotal" class="form-control" readonly></small></td>
        </tr>
        <tr>
          <th scope="col"><small>Descuento</small></th>
          <td><small><input id="descuentototal" class="form-control" readonly></small></td>
        </tr>
        <tr>
          <th scope="col"><small>Total</small></th>
          <td><small><input id="total" class="form-control" readonly></small></td>
        </tr>
      </table>
      </div>
      <div class="row">
        <button id="comprar" type="button" class="btn btn-success" data-toggle="modal" data-target="#dialogomodal">Comprar</button>
      </div>
    </div>
  </div>

</div><!--FIN Container-->

</body>
{%endblock%}
