<script type="text/javascript">
    $(function(){
        $("input").addClass('form-control');
    });  
</script>
  {%if tipo == 'cliente' %}
    <h2>Cliente</h2>
  {%endif%}
  {%if tipo == 'proveedor' %}
    <h2>Proveedor</h2>
  {%endif%}

  <div class="container">
  <form method="POST" class="form-group" id='personForm' data-cities-url="{%url 'ajax_cargarmunicipios'%}"> {% csrf_token %}
    <div class="row">
      <h3>Datos</h3>
        <div class="col-sm-4">
          <label>Clave</label>
          {{humano.clave}}
        </div>
        <div class="col-sm-4">
          <label>RFC</label>
          {{humano.rfc}}
        </div>
        <div class="col-sm-4">
          <label>Nombre</label>
          <input type="text" id="nombreproveedor" class="form-control">
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      <h3>Contacto</h3>
      {%for field in contacto%}
          <div class="col-ms-3">
            <label>{{field.name}}</label>
            {{field}}
          </div>
        {%endfor%}
      </div>
      <div class="col-sm-6">
        <div class="row">
          <h3>Ubicación</h3>
        </div>
        <div class="row">
          <div class="col-sm-6">
            Calle<br>
            {{ubicacion.calle}}
          </div>
          <div class="col-sm-3">
            No. ext
            {{ubicacion.no_ext}}
          </div>
          <div class="col-sm-3">
            No. int
            {{ubicacion.no_int}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            Colonia<br>
            {{ubicacion.colonia}}
          </div>
          <div class="col-sm-6">
            <div class="row">
              <br>
              Estado 
             {{ubicacion.estado}}
            </div>
            <div class="row">
              <br>
              Municipio 
              {{ubicacion.municipio}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" id="btn_{{tipo}}" class='btn btn-primary'>Guardar Proveedor</button>
  </form>
  <script>
    $(function(){
        $("#id_estado").change(function () {
          var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
          var countryId = $(this).val();  // get the selected country ID from the HTML input
          $.ajax({                       // initialize an AJAX request
            url: '/punto/ajax/cargarmunicipios/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'estado': countryId       // add the country id to the GET parameters
            },
            dataType: 'html',
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_municipio").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
        });
    })
  </script>