<html>
	<head>
		<title>Blog1</title>
	</head>
<body>
	<h1>Big titulo</h1>
	<h2>Subtitulo</h2>
	<h6>titulito</h6>
    <p>Parrafo de texto jeje hola</p>
    <em>Cursiva</em>
	<strong>Negrita</strong>
	<br>
	<a href="/admin">link_admin</a> <br>
	<a href="/dos">link_dos</a>
	<ul><li>primer</li><li>segundo</li></ul>
	<div>Mostrara la consulta</div>
	{% for post in posts %} <div><p> publicado:{{post.published_date}}</p><h1><a href="">{{post.title}}</a></h1>
		<p>{{post.text|linebreaksbr}}</p></div>{% endfor %}
</body>
</html>

