{% extends 'blog/base.html' %}

{%block content_js%}
<script type="text/javascript">
	$(function(){
		$('#id_fecha_nacimiento').datepicker({
            yearRange: "-20:+0",
            format: 'yyyy-mm-dd',
            language: "es"
               
		});

	})
</script>
<script>
$(document).ready(function(){
  $("p").click(function(){
    $(this).hide();
  });
});
</script>
{%endblock%}

{%block content%}
<form method="post">{%csrf_token%}
	{{form}}
	<input type="submit" value="submit" />
</form>
<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

{%endblock%}

